$cardWidth: 21.25rem;
$cardHeight: 22.5rem;


.cards__container {
  border-radius: 0.625rem;
  width: 100%;
  background-color: #F6F6F6;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  align-items: stretch;
  gap: 2.41em;
    padding-left: 4em;
    padding-right: 4em;
  padding-top: 3.625em;
  padding-bottom: 4em;
  position: relative;
  z-index: 2;
  transition: width 0.9s, height 0.9s;
  // .card:hover {
  //   .card__shadow {
  //     box-shadow: inset 0px -50px 27px -6px rgba(242, 6, 6, 0.94);
  //   }
  // }
  

  .card {
    
    position: relative;
    z-index: 1;
    text-decoration: none;
    transition: width 0.9s, height 0.9s;
    // width: 33%;
    // height: 33%;
    
    &__shadow {
      border-radius: 10px;
      position: absolute;
      width: $cardWidth;
      height: $cardHeight;
      box-shadow: inset 0px -130px 27px -6px rgba(0,0,0,0.34);
      z-index: -1;
      transition: box-shadow 0.3s;
      transition: width 0.9s, height 0.9s;
    }
    &:hover {
      .card__shadow {
        box-shadow: inset 0px -35px 42px 24px rgba(249, 86, 132, 0.44);
        // box-shadow: inset 0px -120px 27px -6px rgba(0, 0, 0, 0.54);
      }
      .card__title {
        bottom: 1.563rem;
      }
      
    }
    &__content {
      
      position: relative;
      width: $cardWidth;
      height: $cardHeight;
      transition: width 0.9s, height 0.9s;
    }
    &__title {
      color: white;
      line-height: 1.6rem;
      font-size: 18px;
      font-weight: 500;
      width: 90%;
      height: 10%;
      position: absolute;
      z-index: 0;
      left: 1.25rem;
      bottom: 1.25rem;
    }
    &__image {
      border-radius: 10px;
      position: relative;
      z-index: -2;
      object-fit: cover;
      width: $cardWidth;
      height: $cardHeight;
      transition: width 0.9s, height 0.9s;
    }
  }
}


 /* Medium devices (tablets, less/equal than 1240px) */
 @media (max-width: 77.5rem) {
  .cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.875rem;
    justify-content: center;
    padding-left: 0em;
    padding-right: 0em;
  }
  .card{
    width: calc($cardWidth - 1.3%);
    height: calc($cardHeight - 1rem);
    &__content {
      
      width: calc($cardWidth - 100px);
      height: $cardHeight;
    }
  }
}
  /* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 64rem) {}
  /* Small devices (phones, less than 768px) */
@media (max-width: 48rem) {
  .cards__container {
   flex-direction: column;
    gap: 2.125rem;
    padding-left: 0em;
    padding-right: 0em;
  padding-top: 2.625em;
  padding-bottom: 5em;
    justify-content: center;
    align-content: center;
    .card{
      width: 100%;
      height: calc($cardHeight + 1.3vw);
      &__content {
        
        width: 100%;
        height: $cardHeight;
      }
      &__image, &__shadow{
        width: 100%;
        // height: calc($cardHeight - 2rem);
      }
  }
  }
  
}

  /* Smaller devices (phones, less than 375px) */
@media (max-width: 23.438rem) {

}